* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oxanium", serif;
    background: rgb(67, 61, 139);
    background: -moz-linear-gradient( rgba(67, 61, 139, 1) 20%, rgba(255, 255, 255, 1) 80%);
    background: -webkit-linear-gradient( rgba(67, 61, 139, 1) 20%, rgba(255, 255, 255, 1) 80%);
    background: linear-gradient( rgba(67, 61, 139, 1) 20%, rgba(255, 255, 255, 1) 80%);
    overflow: hidden;
    min-height: 100vh;
}

.title {
    text-align: center;
    margin-top: 3em;
    color: #EEEEEE;
}

.title span {
    display: block;
}

.gambar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin-bottom: 50px;
    filter: drop-shadow(0px 0px 18px grey);
    animation: glow 1s infinite alternate;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.tombol button {
    background-color: white;
    color: blueviolet;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    transition: .8s ease;
    font-family: "Oxanium", serif;
}

button:hover {
    background-color: #AF47D2;
    color: white;
    transform: translateY(-15px);
}

button:active {
    background-color: #AF47D2;
    box-shadow: 0 5px #666 inset;
    transform: translateY(5px);
}

.divider {
    width: 2px;
    background-color: #888;
    height: 60px;
    margin: 0 20px;
}

@keyframes glow {
    0% { filter :drop-shadow(0 0 8px #fff)}
    100% { filter :drop-shadow(0 0 15px #fff) }
}